/* inicial config */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

/* container */
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(251, 144, 251);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius:20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

.container nav{
    height: 7%;
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}

.container .logo{
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}

.container .logo::first-letter{
    color: #6f34fe;
    font-size: 35px;

}

.container nav ul li{
    display:inline-block;
    padding:  0 20px;
}

.container nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
}

.container nav ul li a:hover{
    color: #6f34fe;
    
}

/* content */
.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}

.content .section-1 {
    position: relative;
    width: 40%;
}

.content .section-1 h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #000;
}
.content .section-1 h3{
    font-size: 24px;
    color: #6f34fe;
    margin-bottom: 10px;
}

.content .section-1 p{
    font-size: 15px;
    color: #505052;
    margin-bottom: 50px;
}

.content .btn{
    padding:  15px 20px;
    border-radius: 5px;
    background-color: #6f34fe;
    border: 3px solid #6f34fe;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.content .btn:hover{
    background-color: #ffff;
    color: #6f34fe;
    filter: drop-shadow(0px 0px 13px black);
    border:1.3px solid black;
}

.section-2{
    width: 10px;
    height: 10px;
}

.content .social{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;
    font-size: 25px;
    color: #6f34fe;
    cursor: pointer;
}

  .content .section-2 {
    position: relative;
    width: 60%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .section-2::after {
    content: "";
    position: absolute;
    background-color: #6f34fe;
    border-radius: 50%;
    width: 400px; 
    height: 400px; 
    z-index: -1;
}

.section-1 p {
    font-size: 3000px;
}


/* imagem leticia secao2 */
#leticia{   
    margin-bottom: 23px;
    padding-left: 97px;
}

/* imagem leticia secao2 */
.leticia {
    width: 65%; 
    position: absolute;
    top: 47%;
    left: 40%;
    transform: translate(-50%, -50%);
}

/* imagem pc secao2 */
.pc{
    width: 32%; 
    position: absolute;
    top: 47%;
    left: 40%;
    transform: translate(-50%, -50%);
}

/* imagem octoeli secao2 */
.octo {
    width: 32%; 
    position: absolute;
    top: 47%;
    left: 40%;
    transform: translate(-50%, -50%);
}

/* miniatura cursos  */
.img{
    height: 100px;
    width: 100px;    
    
    padding: 20px;  
     display: flex;    
     align-items: center;
     justify-content: space-between; 

}

#mini{

    width:30%; 
    position: absolute;
    top: 47%;
    left: 37%;
    transform: translate(-50%, -50%);
}

 /*  */
.mini {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
} 

 /* secões */

 .section-2 {
    display: flex;
    flex-direction: column;
}
.section-2 h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    
  }

.section-1 {
    display: flex;
    flex-direction: column;

 
}

.section-1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}



 /* /* slider */
  .slider2{
    margin:0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;

    position: absolute; 
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%); 

}

.slides2{
    width: 400%;
    height: 400px;
    display: flex;
    
}

.slides2 input{
    display: none;
}

.slide2{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide2 img {
    width: 800px;
    height: 400px ;

    border-radius: 20px;    
  
}


.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;

    position: absolute; 
    top: 100%;
    left: 70%;
    transform: translate(-50%, -50%);     

}

.manual-btn{
    border: 2px solid #f3049f;
    padding: 5px;    
    border-radius: 50px;
    cursor:pointer;
    transition: 1s;   

}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #060606;
 
}


#radio1:checked~.first{
    margin-left: 0;
  
}

#radio2:checked~.first{
    margin-left:-25%;
}

#radio3:checked~.first{
    margin-left:-50%;
}

#radio4:checked~.first{
    margin-left:-75%;
}


#radio5:checked~.first{
    margin-left:-100%;
}

#radio6:checked~.first{
    margin-left:-125%;
}


#radio7:checked~.first{
    margin-left:-150%;
}


#radio8:checked~.first{
    margin-left:-175%;
}

#radio9:checked~.first{
    margin-left:-200%;
}

#radio10:checked~.first{
    margin-left:-225%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
    
    
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;

    position: absolute; 
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%); 

    }

    .navigation-auto div:not(:last-child){
        margin-right:40px
  
    #radio1:checked~.navigation-auto.auto-btn1{
        background-color: #fff;
    }

    #radio2:checked~.navigation-auto.auto-btn2{
        background-color: #fff;
    }

    #radio3:checked~.navigation-auto.auto-btn3{
        background-color: #fff;
    }

    #radio4:checked~.navigation-auto.auto-btn4{
        background-color: #fff;        
    }

    #radio5:checked~.navigation-auto.auto-btn5{
        background-color: #fff;        
    }

    #radio6:checked~.navigation-auto.auto-btn6{
        background-color: #fff;        
    }

    #radio7:checked~.navigation-auto.auto-btn7{
        background-color: #fff;        
    }

    #radio8:checked~.navigation-auto.auto-btn8{
        background-color: #fff;        
    }

    #radio9:checked~.navigation-auto.auto-btn9{
        background-color: #fff;        
    }

    #radio10:checked~.navigation-auto.auto-btn10{
        background-color: #fff;        
    } 
 
  

    /* formulario */

    #nome {
        width: 100%;
        height: 40px;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    
    #mail {
        width: 100%;
        height: 40px;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    
    #message {
        width: 100%;
        height: 150px;
        padding: 8px;
        box-sizing: border-box;
    }  */

   /* ================== Formulário ================== */
/* Contêiner do formulário */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;   
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

/* Campos de entrada do formulário */
.form-container input, 
.form-container textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

/* Botão de envio do formulário */
.form-container button {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    background-color: #6f34fe;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
 
}


/* ================== Centralização do Formulário ================== */
/* Centraliza o formulário dentro do contêiner */
.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

    

     /* rodape texto */
    footer {
        font-size: 16px;
        color: #000000;
        padding: 5px;
       /*  background-color: #000; */
        text-align: center;
        position: relative;

       
    }

    /* rodape fundo */
    footer{

        position: relative; 
        background-color: rgb(251, 144, 251);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
